.keyTable {
  font-size: 0.9rem;
  font-family: "monospace";
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.keyTable th,
.keyTable td {
  background: #5d7586;
  padding: 10px;
}

.continueButton {
  transform: translateY(320px);
}
