.ripple {
  position: absolute;
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  z-index: 2;
}

.ripple.show {
  animation: ripple 0.45s ease-out;
}

@-webkit-keyframes ripple {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}



@keyframes fadeOut {
  0% { opacity: 1;}
  99% { opacity: 0.01;width: 100%; height: 100%;}
  100% { opacity: 0;width: 0; height: 0;}
}

.display-none.on{
  display: block;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}